

.ip1{
left:700px;
}
.board {
display: flex;
position: absolute;
width: 240px;
height: 150px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 40px;
background-color: #000 ;
color:#fff;
padding-top:150px ;
padding-bottom:350px ;
padding-right:60px;

justify-content: center;

}

  
 

.signup{
    /* Sign In */

position: absolute;
width: 131px;
height: 44px;
left: 700px;
top: 125px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0px;
/* identical to box height */


}
/* Sign in to your account */
.sit{
position: absolute;
width: 161px;
height: 19px;
left: 700px;
top: 150px;

font-family: 'Lato';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 19px;
}

.b1{
position: absolute;
width: 15em;
height: 3em;
left: 690px;
top: 200px;
font-family: 'Lato';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 0px;
display: flex;
align-items: center;
justify-content: center;
gap:18px;
margin: 10px;
border-radius: 10px;
background-color: #fff;
}
.b1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.b1 p{
    font-size: 20px;
}

.b2{
    position: absolute;
    width: 15em;
    height: 3em;
    left: 950px;
    top: 200px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    }
    .b2:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .b2 p{
        font-size: 20px;
    }
    
      
    